<html>
  <head>
    <link rel="stylesheet" href="css/style" />
  </head>
  <body>
    <h3>You can update your user data here</h3>
    <div class="createUser">
      <form action="/user/<%= user.id %>?method=PUT" method="POST">
        <input type="text" name="id" placeholder="id" value="<%= user.id %>" />
        <input
          type="text"
          name="name"
          placeholder="name"
          value="<%= user.name %>"
        />
        <input
          type="text"
          name="email"
          placeholder="email"
          value="<%= user.email %>"
        />
        <input
          type="text"
          name="address"
          placeholder="address"
          value="<%= user.address.suite %>, <%= user.address.street %>, <%= user.address.city %>, <%= user.address.zipcode %>"
        />
        <input
          type="text"
          name="phone"
          placeholder="phone"
          value="<%= user.phone %>"
        />
        <input
          type="text"
          name="website"
          placeholder="website"
          value="<%= user.website %>"
        />
        <input
          type="text"
          name="company"
          placeholder="company"
          value="<%= user.company.name %>, <%= user.company.catchPhrase %>"
        />
        <input type="submit" value="Update" />
      </form>
    </div>
  </body>
</html>
